@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family:  Segoe UI, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toolbar-item{
  display: flex;
  align-items: center;
  width: 40%;
  background-color: antiquewhite;
  
}

.toolbar-item span{
  padding:10px;
}
